.movies-container {
  padding: 1rem;
  background-color: #da2b26;
  min-height: 100vh;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}