.movie-detail-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  display: flex;
}

.movie-detail-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 12px;
  max-width: 1000px;
  width: 90%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.movie-detail-card {
  align-items: flex-start;
  gap: 30px;
  display: flex;
}

.movie-detail-card img {
  color: transparent;
  width: 37%;
  height: auto;
}

.movie-poster {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.movie-info {
  max-width: 600px;
}

.movie-info h1 {
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: bolder;
}

.movie-info p {
  font-size: 18px;
  line-height: 1.5;
}

.movie-info button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.movie-info button:hover {
  background-color: #cccccc;
}

.error {
  color: red;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}
